table {
    border: 1px solid #e4e4e4;
    width: 100%;
    margin-bottom: 4px;
    border-radius: 3px;
    border-spacing: 0;
    overflow: hidden;
}

.table-head th{
    background-color: #EEE;
    padding: 2px;
}

.table-body td{
    text-align: left;
    padding: 2px;
}

.new-issue{
    float: right;
    white-space: nowrap;
    line-height: 1.4em;
    margin: 5px 0px;
    padding-left: 10px;
    font-size: 0.9em;
}








