.main{
    background: #ffffdd;
    padding: 6px;
    margin-bottom: 6px;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
}

.buttons{
    float: right;
    white-space: nowrap;
    line-height: 1.4em;
    margin: 5px 0px;
    padding-left: 10px;
    font-size: 0.9em;
}

.attributes {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #fffcda;
}

.attributes .left {
    flex: 0 0 50%;
    margin-right: 10px;
    flex-direction: column;
}
.attributes .right {
    flex-grow: 1;
    flex-direction: column;
}

.attribute{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.attribute .label{
    flex: 0 0 50%;
    font-weight: bold;
}
.attribute .value{
    flex-grow: 1;
}
